// estilos de la pagina de contactos

.main-contactos {
  padding: 5rem;
  h1 {
    text-align: center;
    color: $color_1;
    font-weight: 800;
    font-size: 3rem;
  }
}

.contactos-text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  div {
    max-width: 300px;
    max-height: 230px;
    font-size: 1.5rem;
    padding: 1rem;
    color: $color_1;
    background-color: $background-color_2;
    margin: 1rem;
    box-shadow: 0 2px 2px red;
  }
}
.presentacion-contactos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentacion-animacion {
  display: flex;
  justify-content: space-evenly;
}

.horario {
  background-color: $background-color_6;
  color: $color_1;
  padding: 2rem;
  width: 150px;
  margin: 10px;
  font-size: 1.5rem;
  h3 {
    color: $background-color_2;
    font-weight: 800;
    font-size: 2.4rem;
  }
  .telefono {
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.contenedor-contactos{
  display: flex;
  justify-content: space-evenly;
}

input[type="text"] {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
select {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="submit"] {
  background-color: $background-color_7;
  color: $color_1;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $background-color_8;
  }
}
.contenedor-horario {
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja {
  width: 500px;
  border-radius: 5px;
  background-color: $background-color_9;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 800;
}
.col-1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-2 {
  width: 100%;
  margin-top: 6px;
}
.fila {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
