// estilos de footer

.redes {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
  p {
    margin-top: 10px;
    font-size: 3em;
  }
  a {
    text-decoration: none;
    color: $color_1;
    &:hover{
      color: $color_5;
    }
  }
  li {
    margin-right: 15px;
    display: inline;
    list-style-type: none;
  }
  span {
    font-size: 0.9rem;

  }
}
.menu-inferior {
  font-size: 1.2rem;
  li {
    list-style-type: none;
  }
  a {
    color: $color_1;
    text-decoration: none;
    text-align: start;
    &:hover {
      color: $color_4;
    }
  }
  ul {
    padding: 0;
  }
}
.footer-text {
  margin: 20px;
  width: 300px;
}
