// estilos de la pagina principal

.titulo-productos {
  display: flex;
  justify-content: space-evenly;
  background-color: $background-color_2;
  padding: 15px;
  color: $color_1;
  img {
    width: 40px;
  }
}
.titulo-baratos {
  display: flex;
  justify-content: center;
  span {
    padding: 10px;
    border: solid 2px #3a1078;
    margin-left: 25px;
  }
}
.productosBaratos {
  margin-top: 20px;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
.div-tarjetas {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.productosBaratos-hijo {
  img {
    width: 300px;
  }
}
.tarjetas {
  margin: 10px;
  
}
.tarjeta-img {
  display: flex;
  justify-content: center;
  img {
    width: 150px;
    height: 150px;
  }
}
.tarjeta-text {
  text-align: center;
  span {
    font-size: 1rem;
    color: $color_2;
  }
  p {
    font-weight: bolder;
    font-size: 1.5rem;
  }
}
.price {
  font-size: 2rem;
}
.tarjeta-central {
  text-align: center;
  text-transform: uppercase;
}
.buttom-tarjetas {
  button {
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 10px;
    &:hover{
      background-color: $color_6;
      color: $color_1;
    }
  }
}
.productos {
  img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    border-radius: 5px;
    margin-top: 5px;
    background-color: $background-color_3;
    text-align: center;
    margin: 5px;
    p {
      font-size: 1.5rem;
      font-weight: bolder;
    }
    button {
      font-size: 1.5rem;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      padding: 10px;
      &:hover{
        background-color: green;
        color: white;
      }
    }
    .after-oferta {
      text-decoration: line-through;
    }
    .oferta {
      font-size: 2rem;
      color: $color_6;
    }
  }
}
.main-index {
  padding: 24px;
}
.titulo {
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 2px green;
  h2 {
    font-size: 3rem;
    color: $background-color_2;
  }
}
.container-publicidad {
  padding-left: 150px;
  padding-right: 150px;
  .publicidad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background-color: $background-color_2;
    height: 200px;
    p {

      text-transform: uppercase;
      margin: 0;
    }
    img {
      width: 500px;
      height: 200px;
    }
    a {
      @include ancla;
      color: $color_1;
      font-size: 1.5rem;
    }
  }
}
.publicidad-textUno {
  color: $color_1;
  font-size: 3rem;
  text-shadow: 0 1px 3px black;
}
