// media

@media (max-width: 500px){
  .contenedor-contactos{
    flex-flow: column-reverse;
  }
  .titulo-baratos {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .productosBaratos {
    position: relative;
    top: 150px;
  }
  .div-tarjetas {
    flex-flow: row wrap;
    padding: 10px;
  }
  .container-main{
    position: relative;
    top: 400px;
  }
  .productos {
    flex-flow: row wrap;
  }
  .titulo {
    h2{
      font-size: 2rem;
    }
    position: relative;
    top: 400px;
  }
  .container-publicidad{
    position: relative;
    top: 400px;
  }
  .footer-index{
    position: relative;
    top: 430px;
  }
  .container-publicidad{
    padding: 0;
    .publicidad {
      flex-direction: column-reverse;
      height: 250px;
      div {
        max-width: 100%;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .main-productos {
    padding: 50px 0 50px 0;
  }
  .containerProductos {
    padding: 0;
  }
  .filtro {
    h1{
      font-size: 2rem;
    }
  }
  .video {
    flex-direction: column;
    iframe{
      max-width: 100%;
    }
  }
  .main-mapa{
    padding: 10px;
  }
  .contenedor-map {
    img {
      width: 200px;
    } 
    div {
      padding-top: 10px;
    }
  }
  .contenedor-mapaDos {
    display: block;
  }
  .fila{
    display: flex;
    flex-flow: column wrap;
  }
}
@media (max-width: 600px) {
  .titulo-baratos {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .productosBaratos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .div-tarjetas {
    padding: 10px;
  }
  .tarjeta-img {
    img {
      width: 100px;
    }
  }
  .productosBaratos-hijo {
    img {
      width: 200px;
    }
  }
  .tarjeta-text {
    text-align: center;
    font-size: 0.9rem;
    span {
      font-size: 0.5rem;
      color: $color_2;
    }
  }
  .tarjeta-central {
    text-align: center;
  }
  .main-index {
    padding: 0;
    margin-top: 70px;
    font-size: 0.9rem;
  }
  .productos {
    img {
      width: 80px;
      height: 100px;
    }
  }
  .publicidad {
    display: flex;
    flex-direction: center;
    text-align: center;
    img {
      width: 200px;

    }
    div {
      width: 400px;
    }
  }
  .publicidad-textUno {
    font-size: 1.4rem;
  }
  .publicidad-textDos {
    font-size: 0.8rem;
  }
  .container-productos {
    display: flex;
    flex-direction: column;
  }
  .filtro {
    width: auto;
    display: flex;
  }
  .container-filtro {
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $background-color_10;
    .cerrar-menu {
      border: none;
      padding: 0;
      display: block;
      font-size: 1.5rem;
      margin:10px;
    }
    .filtro-pais {
      select {
        width: auto;
      }
    }
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .notvisible{
    opacity: 0;
    visibility: hidden;
  }
  .menu-filtro {
    display: block;
    background-color: $background-color_2;
    svg {
      color: $color_1;
    }
  }
  .tienda {
    margin: 0;
    flex-direction: column;
  }
  .video {
    iframe {
      width: 500px;
    }
  }
  .contenedor-map {
    flex-direction: column;
  }
  .contenedor-mapaDos {
    padding: 0;
  }
  .mapa {
    flex-direction: column;
    iframe {
      width: 300px;
      height: 200px;
    }
  }
  .container-contactos {
    display: flex;
    flex-direction: column;
  }
  .caja {
    border: solid greenyellow 2px;
    width: auto;
  }
  .imagen-one {
    img {
      width: 150px;
      height: 150px;
    }
  }
  .contenedor {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .contenedor-contactos{
    flex-flow: column-reverse;
  }
}

@media (min-width: 601px) and (max-width: 915px) {
  .contenedor-contactos{
    flex-flow: column-reverse;
  }
  .tarjeta-text {
    text-align: center;
    font-size: 0.9rem;
    text-align: center;
    font-size: 0.9rem;
    span {
      font-size: 0.5rem;
      color: $color_2;
    }
  }
  .titulo-baratos {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .productosBaratos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .div-tarjetas {
    padding: 10px;
  }
  .tarjeta-img {
    img {
      width: 100px;
    }
  }
  .productosBaratos-hijo {
    img {
      width: 200px;
    }
  }
  .tarjeta-central {
    text-align: center;
  }
  .main-index {
    padding: 0;
    margin-top: 70px;
    font-size: 0.9rem;
  }
  .productos {
    div {
      img {
        width: 120px;
        height: 200px;
      }
    }
  }
  .container-publicidad {
    padding-left: 100px;
    padding-right: 100px;
  }
  footer {
    font-size: 0.7rem;
  }
  .contenedor-map {
    img {
      width: 250px;
      height: auto;
    }
    h2 {
      font-size: 1.9rem;
      text-transform: uppercase;
      color: $color_4;
      position: relative;
      bottom: 30px;
    }
  }
  .mapa {
    flex-direction: column;
    iframe {
      width: 300px;
      height: 300px;
    }
  }
  .contenedor-mapaDos {
    padding: 10px;
  }
  .contenedor {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .filtro {
    flex-wrap: wrap;
  }
}
@media (width: 916px) and (width: 1200px){

  .container-publicidad {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (min-width: 601px) and (max-width: 1300px) {
  .container-productos {
    display: flex;
    flex-direction: column;
  }
  .container-filtro {
    flex-direction: row ;
    .filtro-name {
      border: none;
    }
    .filtro-price {
      border: none;
    }
    .filtro-pais {
      border: none;
      select {
        width: auto;
      }
    }
  }
  .tienda {
    margin: 0;
  }
  .productos {
    img {
      width: 150px;
    }
  }
  .fila {
    display: flex;
    flex-direction: column;
  }
}
@media (width: 901px) and (width: 1560px) {
  .menuContactos {
    img {
      width: 600px;
    }
  }
}

