$color_1: white;
$color_2: grey;
$color_3: brown;
$color_4: lightseagreen;
$color_5: red;
$color_6: green;
$font-family_1: 'Playfair Display', serif;
$background-color_1: #ccc;
$background-color_2: #3A1078;
$background-color_3: aliceblue;
$background-color_4: #bac8ed;
$background-color_5: #3795BD;
$background-color_6: red;
$background-color_7: #04AA6D;
$background-color_8: #45a049;
$background-color_9: #f2f2f2;
$background-color_10: #2F58CD;
$background-color_11: black;
$background-color_12: bisque;
$background-gradiante_1:linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
$background-gradiante_2:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
$background-gradiante_3:linear-gradient(90deg, #0700b8 0%, #00ff88 100%);